<h2>Welcome to Admin Panel</h2>

<ul>
    <li><a href="@Url.Action("CreateEmergency", "Admin")">Add Emergency</a></li>
    <li><a href="@Url.Action("CreateAssistant", "Admin")">Add Assistant</a></li>
    <li><a href="@Url.Action("CreateDuty", "Admin")">Assign Duty</a></li>
</ul>
